In [72]:
%matplotlib inline
import math
import random
import statistics as st
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [73]:
consumer_complaints = pd.read_csv('complaints_dec_2014.csv')
consumer_complaints.head()

,Complaint ID,Product,Sub-product,Issue,Sub-issue,State,ZIP code,Submitted via,Date received,Date sent to company,Company,Company response,Timely response?,Consumer disputed?
0,1177167,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,12/31/2014,Ad Astra Recovery Services Inc,Closed with explanation,Yes,NaN
1,1177166,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,12/31/2014,"Unique Management Services, Inc",Closed with explanation,Yes,NaN
2,1177165,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,12/31/2014,"CL Holdings, LLC",Closed with monetary relief,Yes,NaN
3,1177164,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,12/31/2014,"Enhanced Recovery Company, LLC",Closed with non-monetary relief,Yes,NaN
4,1177163,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,12/31/2014,"Enhanced Acquisitions, LLC",Closed with explanation,Yes,NaN

In [74]:
date_series = consumer_complaints.pop('Date received')

In [75]:
consumer_complaints.index = pd.to_datetime(date_series, format='%m/%d/%Y')
consumer_complaints = consumer_complaints.rename(columns={"Complaint ID":"ID"}).copy()
consumer_complaints.head()

,ID,Product,Sub-product,Issue,Sub-issue,State,ZIP code,Submitted via,Date sent to company,Company,Company response,Timely response?,Consumer disputed?
Date received,,,,,,,,,,,,,
2014-12-31,1177167,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,Ad Astra Recovery Services Inc,Closed with explanation,Yes,NaN
2014-12-31,1177166,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,"Unique Management Services, Inc",Closed with explanation,Yes,NaN
2014-12-31,1177165,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,"CL Holdings, LLC",Closed with monetary relief,Yes,NaN
2014-12-31,1177164,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,"Enhanced Recovery Company, LLC",Closed with non-monetary relief,Yes,NaN
2014-12-31,1177163,Debt collection,NaN,Cont'd attempts collect debt not owed,Debt is not mine,TX,77068.0,Web,12/31/2014,"Enhanced Acquisitions, LLC",Closed with explanation,Yes,NaN

In [76]:
product_count = consumer_complaints[['Product', 'ID']].copy()

In [77]:
product_count

                               Product       ID
Date received
2014-12-31             Debt collection  1177167
2014-12-31             Debt collection  1177166
2014-12-31             Debt collection  1177165
2014-12-31             Debt collection  1177164
2014-12-31             Debt collection  1177163
2014-12-31             Debt collection  1177162
2014-12-31                 Credit card  1177154
2014-12-31             Debt collection  1177143
2014-12-31             Debt collection  1177140
2014-12-31             Debt collection  1177139
2014-12-31             Debt collection  1177136
2014-12-31     Bank account or service  1177128
2014-12-31             Debt collection  1177125
2014-12-31             Debt collection  1177124
2014-12-31             Debt collection  1177116
2014-12-31             Debt collection  1177114
2014-12-31            Credit reporting  1177196
2014-12-31             Debt collection  1177113
2014-12-31             Debt collection  1177112
2014-12-31                 Credit card  1177101
2014-12-31     Bank account or service  1177100
2014-12-31            Credit reporting  1177095
2014-12-31            Credit reporting  1177091
2014-12-31                    Mortgage  1177085
2014-12-31                    Mortgage  1177077
2014-12-31                    Mortgage  1177066
2014-12-31             Money transfers  1177062
2014-12-31     Bank account or service  1177057
2014-12-31     Bank account or service  1177056
2014-12-31             Debt collection  1177037
...                                ...      ...
2014-12-01                    Mortgage  1136225
2014-12-01            Credit reporting  1136223
2014-12-01            Credit reporting  1136222
2014-12-01            Credit reporting  1136221
2014-12-01             Debt collection  1136220
2014-12-01                    Mortgage  1136219
2014-12-01                    Mortgage  1136218
2014-12-01            Credit reporting  1136212
2014-12-01            Credit reporting  1136211
2014-12-01            Credit reporting  1136210
2014-12-01                    Mortgage  1136208
2014-12-01             Debt collection  1136205
2014-12-01                 Credit card  1136710
2014-12-01             Debt collection  1136200
2014-12-01            Credit reporting  1136195
2014-12-01            Credit reporting  1136194
2014-12-01            Credit reporting  1136193
2014-12-01                    Mortgage  1136192
2014-12-01                 Credit card  1136190
2014-12-01                 Credit card  1136188
2014-12-01               Consumer loan  1136185
2014-12-01                    Mortgage  1136183
2014-12-01             Debt collection  1136180
2014-12-01             Debt collection  1136175
2014-12-01            Credit reporting  1136173
2014-12-01                    Mortgage  1136172
2014-12-01                    Mortgage  1136170
2014-12-01                    Mortgage  1136169
2014-12-01                    Mortgage  1136162
2014-12-01                    Mortgage  1136158

[11543 rows x 2 columns]

In [78]:
product_count = product_count.groupby("Product").size()

In [79]:
product_count = product_count.sort_values(ascending=False)

In [80]:
product_count

Product
Mortgage                   3002
Debt collection            2942
Credit reporting           2113
Bank account or service    1136
Credit card                1100
Consumer loan               578
Student loan                340
Payday loan                 141
Money transfers             107
Prepaid card                 70
Other financial service      14
dtype: int64

In [81]:
company_complaints = consumer_complaints[['Company', 'ID']].copy()

In [82]:
company_complaints.head()

                                       Company       ID
Date received
2014-12-31      Ad Astra Recovery Services Inc  1177167
2014-12-31     Unique Management Services, Inc  1177166
2014-12-31                    CL Holdings, LLC  1177165
2014-12-31      Enhanced Recovery Company, LLC  1177164
2014-12-31          Enhanced Acquisitions, LLC  1177163

In [83]:
company_complaints = company_complaints.groupby("Company").size()

In [84]:
company_complaints = company_complaints.sort_values(ascending=False)

In [85]:
company_complaints.head(10)

Company
Bank of America        766
Equifax                737
Experian               675
TransUnion             604
Wells Fargo            598
JPMorgan Chase         545
Ocwen                  408
Citibank               403
Nationstar Mortgage    357
Capital One            252
dtype: int64

In [92]:
company_response_complaints = consumer_complaints[['Company response', 'ID']].copy()
company_response_complaints = company_response_complaints.groupby("Company response").size()
company_response_complaints = company_response_complaints.sort_values(ascending=False)
company_response_complaints.head(10)

Company response
Closed with explanation            8185
Closed with non-monetary relief    1253
In progress                        1056
Closed with monetary relief         643
Closed                              239
Untimely response                   167
dtype: int64

In [ ]:
mean_complaints_by_day = consumer_complaints[['Date', 'ID']].copy()
company_response_complaints = company_response_complaints.groupby("Company response").size()
company_response_complaints = company_response_complaints.sort_values(ascending=False)
company_response_complaints.head(10)